.btnbtnsuccess[b-a5vpgefgmh] {

    display: inline-block;
}

.aligncenter1[b-a5vpgefgmh] {
    text-align:center;
    color: white;
}
.aligncenter2[b-a5vpgefgmh] {
    text-align: center;
    color: white;
}
.aligncenter3[b-a5vpgefgmh] {
    text-align: center;
    color: white;
}
.aligncenter4[b-a5vpgefgmh] {
    text-align: center;
    color: white;
}
