@page "/Artists"

@using MusicStore.Data
@using System.Net

@inject UserService UserService;
@inject NavigationManager NavManager;
@inject ArtistService ArtistService;

<div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Artists">Artists</a>
        <a href="/Basket">Basket</a>
        <a href="/Products">Products</a>
        <a href="/Profile">Profile</a>
        <a href="/Search">Search</a>
      </div>

<!-- Login Form -->

    <div>

        <div class="BackSquare">
            <div class="form">

                <div id="tableContainer-1" class="tableContainer-1">
                    <div class="LoginText">
                        BNUify
                    </div>

                    <div id="tableContainer-2" class="tableContainer-2">
                        <p>
                            @Message
                        </p>
                        <div method="post" class="login-form">
                            <p>
                                <input class="add" required="" type="Add" placeholder="Artist Name" @bind="Artist" />
                            </p>
                            <button class="btnbtnprimary" @onclick="OnArtistAdd">
                                Add Artist
                            </button>
                            <button class="btnbtnprimary" @onclick="OnArtistRemove">
                                Remove Artist
                            </button>

                            <a class="Home" href="/Home">Back home</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

@code {
    private string Artist { get; set; } = string.Empty;
    private string Message { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        if(UserService.User == null) NavManager.NavigateTo("Login");
        base.OnInitialized();
    }

    private void OnArtistAdd()
    {
        if (string.IsNullOrWhiteSpace(Artist))
        {
            Message = "No value entered";
            return;
        }

        var response = ArtistService.AddArtist(Artist);

        if (response == HttpStatusCode.Conflict)
        {
            Message = "Artist already exists ";
            return;
        }
        Message = "Artist added ";
    }

    private void OnArtistRemove()
    {
        if (string.IsNullOrWhiteSpace(Artist))
        {
            Message = "No value entered";
            return;
        }

        var response = ArtistService.RemoveArtist(Artist);
        if (response == HttpStatusCode.NotFound)
        {
            Message = "Artist not found";
            return;
        }
        Message = "Artist Removed";
    }
}