@page "/Artist"

@using MusicStore.Data
@using System.Net

@inject UserService UserService;
@inject NavigationManager NavManager;
@inject ArtistService ArtistService;

<!-- Login Form -->

<body class="Body">
    <div>

        <div class="BackSquare">
            <div class="form">

                <div id="tableContainer-1" class="tableContainer-1">
                    <div class="LoginText">
                        BNUify
                    </div>

                    <div id="tableContainer-2" class="tableContainer-2">
                        <p>
                            Add an artist
                        </p>
                        <div method="post" class="login-form">
                            <p>
                                <input class="add" required="" type="Add" placeholder="Add Artist" @bind="Artist" />
                            </p>
                            <button class="btnbtnprimary" @onclick="OnArtistAdd">
                                Add Artist
                            </button>
                            <button class="btnbtnprimary" @onclick="OnArtistRemove">
                                Remove Artist
                            </button>

                            <a class="Home" href="/Home">Back home</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    private string Artist { get; set; } = string.Empty;

    private void OnArtistAdd()
    {
        if (string.IsNullOrWhiteSpace(Artist))
        {
            return;
        }

        var response = ArtistService.AddArtist(Artist);

        if (response == HttpStatusCode.Conflict)
        {
            
        }
    }

    private void OnArtistRemove()
    {
        if (string.IsNullOrWhiteSpace(Artist))
        {
            return;
        }

        var response = ArtistService.RemoveArtist(Artist);

        if (response == HttpStatusCode.NotFound)
        {
            
        }
    }
}