@page "/Basket"

<section>
    <h1 class="basket">Basket</h1>

    <article class="product">

        <a>
            <img src="/th.jpg" />
        </a>


        <div class="info">
            <a class="name">Song Name</a>

            <div class="data-group">
                <span class="data">
                    <strong>Price:</strong>&pound;3.86
                </span>

                <span class="data">
                    <strong>Qty:</strong>1
                </span>

                <span class="data">
                    <strong>Total:</strong>&pound;3.86
                </span>

            </div>
        </div>

    </article>

    <article class="product">

        <a>
            <img src="/th.jpg"/></a>

        <div class="info">
            <a class="name">Song Name</a>

            <div class="data-group">
                <span class="data">
                    <strong>Price:</strong>&pound;3.86
                </span>

                <span class="data">
                    <strong>Qty:</strong>1
                </span>

                <span class="data">
                    <strong>Total:</strong>&pound;3.86
                </span>
            </div>
        </div>

    </article>

    <article class="product">

      <a>
            <img src="/th.jpg"/></a>


        <div class="info">
            <a class="name">Song Name</a>

            <div class="data-group">
                <span class="data">
                    <strong>Price:</strong>&pound;3.86
                </span>

                <span class="data">
                    <strong>Qty:</strong>1
                </span>

                <span class="data">
                    <strong>Total:</strong>&pound;3.86
                </span>
                  
          
            </div>
        </div>

    </article>

</section>


<section class="totals">
    <h2 class="totals">Totals</h2>
    <table class="table table-condensed table-striped cart-totals">

        <tbody>
         <tr>
            <th>Sub Total</th>
            <td>&pound;11.92</td>
         </tr>

         <tr>
            <th>Shipping Estimate</th>
            <td>&pound;5.00</td>
         </tr>

         <tr>
            <th>Tax</th>
            <td>&pound;2.38</td>
         </tr>

         <tr>
            <th>Grand Total</th>
            <td>&pound;19.30</td>
         </tr>
        </tbody>
    </table>

    <footer>
        <form action="/basket/update" method="post">
            <input class="btn" type="submit" value="Go to Checkout" />
        </form>
    </footer>
</section>

@code {

}
