@page "/Checkout"
@using MusicStore.Data
@using System.Net

@inject UserService UserService;
@inject NavigationManager NavManager;
@inject BasketService BasketService;

<div class="topnav">
    <a class="active" href="/Home">Home</a>
    <a href="/Artists">Artists</a>
    <a href="/Basket">Basket</a>
    <a href="/Products">Products</a>
    <a href="/Profile">Profile</a>
    <a href="/Search">Search</a>
    <a href="/Checkout">Checkout</a>
    <a href="/Orders">Orders</a>
</div>

<div class="wrapper">
    <div class="profile">
        <div class="content">
            <h1>Checkout</h1>
            <p class="text-center">
                @Message
            </p>
            <div action="">
                <!-- Email -->
                <fieldset>
                    <div class="grid-35">
                        <a for="email">Email:</a>
                    </div>
                    <div class="grid-65">
                        <input type="email" required="" id="email" tabindex="6" @bind="Email"/>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="grid-35">
                        <a for="email">Name:</a>
                    </div>
                    <div class="grid-65">
                        <input type="text" required="" id="email" tabindex="6" @bind="FullName"/>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="grid-35">
                        <a for="email">Street name:</a>
                    </div>
                    <div class="grid-65">
                        <input type="text" required="" id="email" tabindex="6" @bind="StreetName"/>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="grid-35">
                        <a for="email">Postcode:</a>
                    </div>
                    <div class="grid-65">
                        <input type="text" required="" id="email" tabindex="6" @bind="PostCode"/>
                    </div>
                </fieldset>
                <p>
                    <button class="btnbtnprimary" @onclick="OnCheckout">
                        Checkout
                    </button>
                </p>

            </div>

        </div>
    </div>
</div>
@code {
    private string FullName { get; set; } = string.Empty;
    private string Email { get; set; } = string.Empty;
    private string StreetName { get; set; } = string.Empty;
    private string PostCode { get; set; } = string.Empty;
    private string Message { get; set; } = string.Empty;
    
    protected override void OnInitialized()
    {
        if (UserService.User == null)
        {
            NavManager.NavigateTo("Login");
            return;
        }
        base.OnInitialized();
    }

    private void OnCheckout()
    {
        if (string.IsNullOrWhiteSpace(FullName) || string.IsNullOrWhiteSpace(Email) || string.IsNullOrWhiteSpace(StreetName) || string.IsNullOrWhiteSpace(PostCode))
        {
            Message = "Missing value";
            return;
        }

        var address = $"{FullName}\n{StreetName}\n{PostCode}";

        var response = BasketService.Checkout(Email, address, UserService.User!);

        if (response == HttpStatusCode.NotFound)
        {
            Message = "No items in basket";
            return;
        }
        Message = "Order created";
    }
}
