@page "/CreateDeleteProduct"

@using MusicStore.Data
@using System.Net

@inject UserService UserService;
@inject NavigationManager NavManager

<!-- Login Form -->

<body class="Body">
    <div>

        <div class="BackSquare">
            <div class="form">

                <div id="tableContainer-1" class="tableContainer-1">
                    <div class="LoginText">
                        BNUify
                    </div>

                    <div id="tableContainer-2" class="tableContainer-2">
                        <p>
                            Add an artist
                        </p>
                        <div method="post" class="login-form">
                            <p>
                                <input class="add" required="" type="Add" placeholder="Add Artist" @bind="Add" />
                            </p>
                            <button class="btnbtnprimary">
                                    Add Artist
                                </button>
                          
                            <a class="Home" href="/Home">Back home</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    private string Add { get; set; } = string.Empty;
    private string Remove { get; set; } = string.Empty;
    private string Artist { get; set; } = string.Empty;
}