@page "/Genre/{genrestring}"
@using MusicStore.Data
@using MusicStore.Schemas

@inject ProductService ProductService
@inject UserService UserService;
@inject NavigationManager NavManager;

<div class="topnav">
    <a class="active" href="/Home">Home</a>
    <a href="/Artists">Artists</a>
    <a href="/Basket">Basket</a>
    <a href="/Products">Products</a>
    <a href="/Profile">Profile</a>
    <a href="/Search">Search</a>
    <a href="/Checkout">Checkout</a>
    <a href="/Orders">Orders</a>
    <div class="topnav">
        <div class="search-container">
            <div action="/action_page.php">
                <div>
                    <input type="text" name="text" class="search" placeholder="Search here!"  />
                    <input type="submit" name="submit" class="submit" value="Search" />
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <h2 class="section-title">@GenreString</h2>
    <ul class="albums-list">
        @foreach (ProductSchema item in Products)
        {
            <ProductView Item="@item"></ProductView>
        }
    </ul>
</div>

@code {
   [Parameter]
   public string GenreString { get; set; }
   
   private ProductSchema[] Products { get; set; }
   

   protected override void OnInitialized()
   {
        if (UserService.User == null)
        {
            NavManager.NavigateTo("Login");
            return;
        }
      Products = ProductService.SearchByGenre(GenreString);
      base.OnInitialized();
   }
}