@page "/Home"
@using MusicStore.Data
@using MusicStore.Schemas

@inject ProductService ProductServiceInstance

<div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Artists">Artists</a>
        <a href="/Basket">Basket</a>
        <a href="/Products">Products</a>
        <a href="/Home">Home</a>
        <a href="/Profile">Profile</a>
        <a href="/Search">Search</a>
      </div>

<div class="container">
	<h2 class="section-title">Products</h2>
	<ul class="albums-list">
		@foreach(ProductSchema item in Products)
{
    <ProductView Item="@item"></ProductView>
}
	</ul>
	</div>
	

	<!-- list-cards -->
	<div>
	<h2 class="section-title" style="margin-left: 10px";>Genre </h2>
	<ul class="albums-list">
		<li class="album-card -small">
			<img class="image" src="/th.jpg" alt="Minutes to Midnight" />
			<div class="album-info">
				<h3 class="name">Blues Music</h3>
				<p class="meta"></p>
				<p>
					<button class="btnbtnprimary">
						Search for Blues Music
					</button>
				</p>
			</div>
		</li>
		<!-- card -->
		<li class="album-card -small">
			<img class="image" src="/th.jpg" alt="Genre" />
			<div class="album-info">
				<h3 class="name">Jazz Music</h3>
				<p class="meta"></p>
				<p>
					<button class="btnbtnprimary">
						Search for Jazz Music
					</button>
				</p>
			</div>
		</li>
	</ul>
<ul class="albums-list">
	<li class="album-card -small">
			<img class="image" src="/th.jpg" alt="Genre" />
		<div class="album-info">
			<h3 class="name">Rock Music</h3>
			<p class="meta"></p>
			<p>
				<button class="btnbtnprimary">
						Search for Rock Music
				</button>
			</p>
		</div>
	</li>
	<!-- card -->
	<li class="album-card -small">
			<img class="image" src="/th.jpg" alt="Genre" />
		<div class="album-info">
				<h3 class="name">Country Music</h3>
			<p class="meta"></p>
			<p>
				<button class="btnbtnprimary">
						Search for Country Music
				</button>
			</p>
		</div>
	</li>
</ul>
<ul class="albums-list">
		<li class="album-card -small">
			<img class="image" src="/th.jpg" alt="Genre" />
			<div class="album-info">
				<h3 class="name">Dance Music</h3>
				<p class="meta"></p>
				<p>
					<button class="btnbtnprimary">
						Search for Dance Music
					</button>
				</p>
			</div>
		</li>
		<!-- card -->
		<li class="album-card -small">
			<img class="image" src="/th.jpg" alt="Collisiona Course" />
			<div class="album-info">
				<h3 class="name">Pop Music</h3>
				<p class="meta"></p>
				<p>
					<button class="btnbtnprimary">
						Search for Pop Music
					</button>
				</p>
			</div>
		</li>
	</ul>
<ul class="albums-list">
	<li class="album-card -small">
		<img class="image" src="/th.jpg" alt="Minutes to Midnight" />
		<div class="album-info">
				<h3 class="name">Classical Music</h3>
			<p class="meta"></p>
			<p>
				<button class="btnbtnprimary">
						Search for Classical Music
				</button>
			</p>
		</div>
	</li>
	<!-- card -->
	<li class="album-card -small">
		<img class="image" src="/th.jpg" alt="Collisiona Course" />
		<div class="album-info">
				<h3 class="name">Rap Music</h3>
			<p class="meta"></p>
			<p>
				<button class="btnbtnprimary">
						Search for Rap Music
				</button>
			</p>
		</div>
	</li>
</ul>
</div>



@code {

	private List<ProductSchema> Products { get; set; }

	protected override void OnInitialized()
	{
		Products = ProductServiceInstance.GetProducts();
		Console.WriteLine(Products.Any(p => p.Name.ToLower().Trim().Contains("TEST".ToLower().Trim())));
		base.OnInitialized();
	}

}
