@page "/Login"


@using MusicStore.Data
@using System.Net

@inject UserService UserService;
@inject NavigationManager NavManager

<!-- Login -->

    <div>
        
        <div class="BackSquare">
            <div class="form">
                
                <div id="tableContainer-1" class="tableContainer-1">
                    <div class="LoginText">
                        BNUify
                    </div>
                    
                    <div id="tableContainer-2" class="tableContainer-2">
                        <p>
                            @Message
                        </p>
                        <div method="post" class="login-form">
                            <p>
                                <input class="email" required="" type="username" placeholder="Username" @bind="Email" />
                            </p>
                            <p>
                                <input class="password" required="" type="password" placeholder="Password" @bind="Password" />
                            </p>
                            <p>
                                <button class="btnbtnprimary" @onclick="LoginFn">
                                    Sign In
                                </button>
                            </p>
                            <p class="registered">
                                Not registered?
                            </p>
                            <a class="Create" href="/">Create an account</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {
    // Holds the Email Input - Binded
    private string Email { get; set; } = string.Empty;
    // Holds the Password Input - Binded
    private string Password { get; set; } = string.Empty;
    // Holds the Message Responses
    private string Message { get; set; } = string.Empty;

    // Runs when the login button is pressed
    private void LoginFn()
    {
        // Checks if Email and Password both have values if not sets message and returns
        if (string.IsNullOrWhiteSpace(Email) || string.IsNullOrWhiteSpace(Password))
        {
            Message = "Missing required input";
            return;
        }
        
        // Attempts to login using the Username and password inputed
        var response = UserService.LoginAsync(Email, Password).GetAwaiter().GetResult();

        // Check the response from login and runs appropriate code
        switch (response)
        {
            // User Account Does Not Exist
            case HttpStatusCode.NotFound:
                Message = "No username found";
                break;
            // Invalid Password
            case HttpStatusCode.Forbidden:
                Message = "Incorrect password";
                break;
            // Correct Password
            case HttpStatusCode.Accepted:
                NavManager.NavigateTo("/Home");
                break;
        }
    }
}