@page "/"

<div>
    <header>
        <a class="logo" href="/">Logo</a>
        <nav>
            <ul class="nav__links">
                <a href="/">Login</a>
                <a href="/Register">Register</a>
                <a href="/Home">Home</a>
                <a href="/Basket">Basket</a>
                <a href="/Profile">Profile</a>
                <a href="/Search">Search</a>
            </ul>
        </nav>
        <a class="cta" href="#"><input class="search" type="text" placeholder="Search.."></a>
        <p class="menu cta"><input class="search" type="text" placeholder="Search.."></p>
    </header>
    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/">Login</a>
            <a href="/Register">Register</a>
            <a href="/Home">Home</a>
            <a href="/Basket">Basket</a>
            <a href="/Profile">Profile</a>
            <a href="/Search">Search</a>
        </div>
    </div>
</div>

<!-- Login Form -->

<body class="BodyLogin">
    <form method="post">
        <div class="BackSquare">
            <div class="form">
                <div id="tableContainer-1" class="tableContainer-1">

                    <div class="LoginText">
                        MusicStore
                    </div>
                    <div id="tableContainer-2" class="tableContainer-2">
                        <form method="post" class="login-form">
                            <p>
                                <input class="email" required="" type="email" placeholder="Email" />
                            </p>
                            <p>
                                <input class="password" required="" type="password" placeholder="Password" />
                            </p>
                            <p>
                                <button type="submit" class="btnbtnprimary">
                                    Sign In
                                </button>
                            </p>

                            <div class="forgotpassword1">
                                <div class="checkbox-example">
                                    <input class="checkbox-examplebox" type="checkbox" value="1"
                                        id="checkboxOneInput" />
                                    <label for="checkboxOneInput"></label>
                                    <div class="remember">Remember Me</div>
                                </div>
                            </div>
                            <div class="forgotpassword2">
                                <button class="forgotpassword">
                                    <a href="https://www.google.com">
                                        Forgot password?
                                    </a>
                                </button>
                            </div>
                            <p class="registered">
                                Not registered?
                            </p>
                            <a class="Create" href="/Register">Create an account</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

@code {
    
}