@page "/"
@page "/Login"

@using MusicStore.Data
@using System.Net

@inject UserService UserService;
@inject NavigationManager NavManager

<!-- Login Form -->

<body class="BodyLogin">
    <form method="post">
        <div class="BackSquare">
            <div class="form">
                <div id="tableContainer-1" class="tableContainer-1">

                    <div class="LoginText">
                        BNUify
                    </div>
                    <div id="tableContainer-2" class="tableContainer-2">
                        <form method="post" class="login-form">
                            <p>
                                <input class="email" required="" type="email" placeholder="Email" @bind="Email"/>
                            </p>
                            <p>
                                <input class="password" required="" type="password" placeholder="Password" />
                            </p>
                            <p>
                                <button class="btnbtnprimary" @onclick="LoginFn">
                                    Sign In
                                </button>
                            </p>
                            <p class="registered">
                                Not registered?
                            </p>
                            <a class="Create" href="/Register">Create an account</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

@code {
    private string Email { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;

    public void LoginFn()
    {
        var response = UserService.LoginAsync(Email, Password).GetAwaiter().GetResult();

        switch (response)
        {
            // User Account Does Not Exist
            case HttpStatusCode.NotFound:
                break;
            // Invalid Password
            case HttpStatusCode.Forbidden:
                break;
            // Correct Password
            case HttpStatusCode.Accepted:
                NavManager.NavigateTo("/Home");
                break;
            default:
                break;
        }
    }
}