@page "/Login"


@using MusicStore.Data
@using System.Net

@inject UserService UserService;
@inject NavigationManager NavManager

<!-- Login Form -->

<body class="BodyLogin">
    <div>
        
        <div class="BackSquare">
            <div class="form">
                
                <div id="tableContainer-1" class="tableContainer-1">
                    <div class="LoginText">
                        BNUify
                    </div>
                    
                    <div id="tableContainer-2" class="tableContainer-2">
                        <p>
                            @Message
                        </p>
                        <div method="post" class="login-form">
                            <p>
                                <input class="email" required="" type="username" placeholder="Username" @bind="Email" />
                            </p>
                            <p>
                                <input class="password" required="" type="password" placeholder="Password" @bind="Password" />
                            </p>
                            <p>
                                <button class="btnbtnprimary" @onclick="LoginFn">
                                    Sign In
                                </button>
                            </p>
                            <p class="registered">
                                Not registered?
                            </p>
                            <a class="Create" href="/">Create an account</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    private string Email { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;
    private string Message { get; set; } = string.Empty;

    public void LoginFn()
    {
        var response = UserService.LoginAsync(Email, Password).GetAwaiter().GetResult();

        switch (response)
        {
            // User Account Does Not Exist
            case HttpStatusCode.NotFound:
                Console.WriteLine("1");
                Message = "No username found";
                break;
            // Invalid Password
            case HttpStatusCode.Forbidden:
                Console.WriteLine("2");
                Message = "Incorrect password";
                break;
            // Correct Password
            case HttpStatusCode.Accepted:
                Console.WriteLine("3");
                NavManager.NavigateTo("/Home");
                break;
            default:
                Console.WriteLine("4");
                break;
        }
    }
}