@page "/Products"

@using MusicStore.Data
@using System.Net
@using MusicStore.Schemas

@inject UserService UserService;
@inject NavigationManager NavManager;
@inject ProductService ProductService;
@inject ArtistService ArtistService;

<div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Artists">Artists</a>
        <a href="/Basket">Basket</a>
        <a href="/Products">Products</a>
        <a href="/Profile">Profile</a>
        <a href="/Search">Search</a>
      </div>

<!-- Login Form -->

<body class="Body">
    <div>

        <div class="BackSquare">
            <div class="form">

                <div id="tableContainer-1" class="tableContainer-1">
                    <div class="LoginText">
                        BNUify
                    </div>

                    <div id="tableContainer-2" class="tableContainer-2">
                        <p>
                            @Message
                        </p>
                        <div method="post" class="login-form">
                            <p>
                                <input class="add" required="" type="text" placeholder="Name" @bind="Name" />
                                <input class="add" required="" type="text" placeholder="Genre" @bind="Genre" />
                                <input class="add" required="" type="text" placeholder="Price" @bind="Price" />
                                
                            </p>
                            <p class="Style">
                                <select class="dob1" name="gender" required="" asp-for="1" @bind="Artist">
                                    <option value=@string.Empty>Select artist</option>
                                    @foreach (ArtistSchema artist in ArtistService.GetArtists())
                                    {
                                        <option value=@artist.Name>@artist.Name</option>
                                    }
                                </select>
                            </p>
                            
                            <button class="btnbtnprimary" @onclick="OnAddProduct">
                                Add product
                                </button>
                                                            <p>
                                <input class="remove" required="" type="text" placeholder="Remove" @bind="RemovalName"/>
                            </p>
                            <button class="btnbtnprimary" @onclick="OnRemoveProduct">
                                Remove product
                            </button>
                            <a class="Home" href="/Home">Back home</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    private string Name { get; set; } = string.Empty;
    private string Genre { get; set; } = string.Empty;
    private string Price { get; set; } = string.Empty;
    private string Artist { get; set; } = string.Empty;
    private string Message { get; set; } = string.Empty;

    private string RemovalName { get; set; } = string.Empty;

    private void OnAddProduct()
    {
        if (string.IsNullOrEmpty(Name) || string.IsNullOrEmpty(Genre) || string.IsNullOrEmpty(Price) || string.IsNullOrEmpty(Artist))
        {

            Message = "Empty value found";
            return;
        }

        if (!double.TryParse(Price, out var parsed))
        {
            Message = "Invalid price";
            return;
        }

        var response = ProductService.AddProduct(Artist, Name, Genre, string.Empty, parsed);

        if (response == HttpStatusCode.Conflict)
        {
            Message = "Product already exist";
            return;
        }
        Message = "Product created successfully";
    }

    private void OnRemoveProduct()
    {
        var response = ProductService.RemoveProduct(RemovalName);

        if (response == HttpStatusCode.NotFound)
        {
            
        }
    }
}