@page "/Profile"
@using MusicStore.Data

@inject UserService UserService
@inject NavigationManager NavManager;

<div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Artists">Artists</a>
        <a href="/Basket">Basket</a>
        <a href="/Products">Products</a>
        <a href="/Profile">Profile</a>
        <a href="/Search">Search</a>
    <a href="/Checkout">Checkout</a>
    <a href="/Orders">Orders</a>
      </div>

<div class="wrapper">
    <div class="profile">
        <div class="content">
            <h1>Profile</h1>
            <div action="">
                    <!-- Name -->
                <fieldset>
                    <div class="grid-35">
                            <label for="lname">Full Name: @FullName</label>
                    </div>
                    <div class="grid-65">
                        <a type="text" id="lname" tabindex="2" />
                    </div>
                </fieldset>
                <!-- Email -->
                <fieldset>
                    <div class="grid-35">
                        <a for="email">Username: @Username</a>
                    </div>
                    <div class="grid-65">
                        <a type="email" id="email" tabindex="6" />
                    </div>
                </fieldset>
                <fieldset>
                    <div class="grid-35">
                            <a for="email">DOB: @Date!.Value.ToString("d") </a>
                        </div>
                        
                </fieldset>
                <fieldset>
                    <div class="grid-35">
                                <a for="email">Gender: @Gender</a>
                            </div>
                </fieldset>
                <p>
                        <button class="btnbtnprimary" onclick="window.location.href = '/home';">
                                    Home
                                </button>
                            </p>

            </div>
     
</div>
</div>
</div>
@code {
    private string FullName { get; set; } = string.Empty;
    private string Username { get; set; } = string.Empty;
    private DateTime? Date { get; set; } 
    private string Gender { get; set; } = string.Empty;


    protected override void OnInitialized()
    {
        
        if (UserService.User == null)
        {
            NavManager.NavigateTo("Login");
            return;
        }
        base.OnInitialized();
        if (UserService.User?.FullName != null) FullName = UserService.User?.FullName;
        if (UserService.User?.Username != null) Username = UserService.User?.Username;
        if (UserService.User?.Dob != null) Date = UserService.User?.Dob;
        if (UserService.User?.Gender != null) Gender = UserService.User?.Gender;
    }

}
