@page "/Search"
@using MusicStore.Data
@using MusicStore.Schemas

@inject ProductService ProductService
@inject UserService UserService;
@inject NavigationManager NavManager;

<div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Artists">Artists</a>
        <a href="/Basket">Basket</a>
        <a href="/Products">Products</a>
        <a href="/Profile">Profile</a>
        <a href="/Search">Search</a>
    <a href="/Checkout">Checkout</a>
    <a href="/Orders">Orders</a>
        <div class="topnav">
  <div class="search-container">
    <div action="/action_page.php">
            <div>
              <input type="text" name="text" class="search" placeholder="Search here!" @bind="Query" />
              <input type="submit" name="submit" class="submit" value="Search" @onclick="OnSearch" />
            </div>
    </div>
  </div>
</div>
      </div>



<div class="container">
    <h2 class="section-title">Results</h2>
	<ul class="albums-list">
		@foreach(ProductSchema item in Results)
{
    <ProductView Item="@item"></ProductView>
}
	</ul>
	</div>

@code {
    // Holds the inputted Query - Binded
    private string Query { get; set; } = string.Empty;
    // Holds the Results of the Query
    private List<ProductSchema> Results { get; set; } = new();

    protected override void OnInitialized()
  {
       // If user is null means user is not authenticated so returns to login page using Navigation Manager
        if (UserService.User == null)
        {
            NavManager.NavigateTo("Login");
            return;
        }
        // Runs Default OnINitialized Function
        base.OnInitialized();
  }
    
    // Runs on the Search Button Press
  private void OnSearch()
  {
      // If the query is empty do nothing
    if (string.IsNullOrEmpty(Query)) return;

      // sets the results of the search
    Results = ProductService.SearchProducts(Query.Trim()).ToList();
  }
}