@page "/Search"
@using MusicStore.Data
@using MusicStore.Schemas

@inject ProductService ProductService

<div class="topnav">
  <div class="search-container">
    <form action="/action_page.php">
            <form action="/form/submit" method="GET">
                <input type="text" name="text" class="search" placeholder="Search here!">
                <input type="submit" name="submit" class="submit" value="Search">
            </form>
    </form>
  </div>
</div>

<div class="container">
    <h2 class="section-title">Results</h2>
	<ul class="albums-list">
		@foreach(ProductSchema item in Results)
{
    <ProductView product="@item"></ProductView>
}
	</ul>
	</div>

@code {

  private string Query { get; set; } = string.Empty;

  private List<ProductSchema> Results { get; set; } = new();

  protected override void OnInitialized()
  {
    base.OnInitialized();
  }

  private void OnSearch()
  {
    if (string.IsNullOrEmpty(Query)) return;

    Results = ProductService.SearchProducts(Query.Trim()).ToList();
  }
}