@page "/Search"
@using MusicStore.Data
@using MusicStore.Schemas

@inject ProductService ProductService

<div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Artists">Artists</a>
        <a href="/Basket">Basket</a>
        <a href="/Products">Products</a>
        <a href="/Home">Home</a>
        <a href="/Profile">Profile</a>
        <a href="/Search">Search</a>
        <div class="topnav">
  <div class="search-container">
    <div action="/action_page.php">
            <div>
              <input type="text" name="text" class="search" placeholder="Search here!" @bind="Query" />
              <input type="submit" name="submit" class="submit" value="Search" @onclick="OnSearch" />
            </div>
    </div>
  </div>
</div>
      </div>



<div class="container">
    <h2 class="section-title">Results</h2>
	<ul class="albums-list">
		@foreach(ProductSchema item in Results)
{
    <ProductView Item="@item"></ProductView>
}
	</ul>
	</div>

@code {

  private string Query { get; set; } = string.Empty;

  private List<ProductSchema> Results { get; set; } = new();

  protected override void OnInitialized()
  {
    base.OnInitialized();
    
    Results.Add(new ProductSchema
    {
      Id = 2,
      Artist = new ArtistSchema
      {
        Id = 5,
        ImageName = "kodkodkdok.jpg",
        Name = "Obi Wan"
      },
      Genre = "Rock",
      ImageName = "Dusty.jpg",
      Name = "Song Test",
      Price = 2.99
    });
  }

  private void OnSearch()
  {
    if (string.IsNullOrEmpty(Query)) return;

    Results = ProductService.SearchProducts(Query.Trim()).ToList();
  }
}