.topnav[b-8ku1vmiwcx] {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a[b-8ku1vmiwcx] {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover[b-8ku1vmiwcx] {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active[b-8ku1vmiwcx] {
    background: linear-gradient(90deg, rgba(83,11,11,1) 0%, rgba(148,26,26,1) 32%, rgba(148,26,26,1) 100%);
    color: white;
  }
.basket[b-8ku1vmiwcx] {
    color: white;
}

.data[b-8ku1vmiwcx] {
     color: white;
}

.totals[b-8ku1vmiwcx] { 
    color: white;
}

.white[b-8ku1vmiwcx] {
    color: white;
}

table[b-8ku1vmiwcx] {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    
}
.table[b-8ku1vmiwcx] {
    width: 100%;
    color: white;
    margin-bottom: rhythm();
    padding: 8px 12px;
    line-height: rhythm();
    text-align: left;
}

.table-condensed[b-8ku1vmiwcx] {
    padding: 4px 5px;

}
.table-striped>tbody>tr:nth-of-type(odd)[b-8ku1vmiwcx]
{
    color: white;
}
.table-bordered[b-8ku1vmiwcx] {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 1px solid #ddd;
    color: white;
}

tr:nth-child(even) td[b-8ku1vmiwcx],
tr:nth-child(even) th[b-8ku1vmiwcx] {
    background-color: #f7f7f7;
    color: white;
}


/* =====================
   Base
   ===================== */

.clearfix[b-8ku1vmiwcx]:before,
.clearfix[b-8ku1vmiwcx]:after {
    content: "";
    color: white;
    display: table;
}

.clearfix[b-8ku1vmiwcx]:after {
    clear: both;
}

.clearfix[b-8ku1vmiwcx] {
    *zoom: 1;
}

body[b-8ku1vmiwcx] {
    font-family: arial;
    color: white;
    padding: 10px;
}

h1[b-8ku1vmiwcx] {
    margin-top: 0;
    color: white;
}

/* =====================
   Buttons
   ===================== */
.btn[b-8ku1vmiwcx] {
    text-align: center;
    cursor: pointer;
    
    padding: 4px 12px 4px;
    color: white;

}


.thumbnail[b-8ku1vmiwcx] {
    display: none;
    float: left;
    width: 50px;
    color: white;
    margin-right: 1em;
    max-width: 100%;
}

.items[b-8ku1vmiwcx] {
    color: white;
}

.name[b-8ku1vmiwcx] {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration:none;
    font-size: 24px;
    font-weight: 500;
}

form[b-8ku1vmiwcx] {
    display: inline;
}

.data-group[b-8ku1vmiwcx] {
    margin-left: 7px;
}

