
.topnav[b-s0vg48o4ts] {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a[b-s0vg48o4ts] {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover[b-s0vg48o4ts] {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active[b-s0vg48o4ts] {
    color: white;
  }

img[b-s0vg48o4ts] {
    width: 100%;
}

ul[b-s0vg48o4ts] {
    list-style: none;
}

.btnbtnprimary[b-s0vg48o4ts] {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: -10px;
    background: #941a1a;
    width: 105%;
    border: 0;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

.container[b-s0vg48o4ts] {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    display: block;
    max-width: 1140px;
}

.section-title[b-s0vg48o4ts] {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 5px 0;
    margin-bottom: 20px;
    margin-left: auto;
}

ul + .section-title[b-s0vg48o4ts] {
    margin-top: 22px;
}

.name[b-s0vg48o4ts] {
    font-weight: 300;
    font-size: 1.4em;
    font-weight: 500;
}

.meta[b-s0vg48o4ts] {
    font-size: .8em;
    opacity: .6;
}

.button[b-s0vg48o4ts] {
    font-size: .9em;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    border-radius: 50em;
    color: #fff;
    background-color: #eebb00;
    transition: box-shadow 0.2s;
    box-shadow: 0 1px 20px rgba(238, 187, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);

}

.album-card[b-s0vg48o4ts] {
    width: 20%;
    cursor: pointer;
    display: inline-block;

}

.album-info[b-s0vg48o4ts] {
    padding: 1em 1.6em;
    background-color: #fff;
    border-radius: 0 0 .25em .25em;
}

.album-page[b-s0vg48o4ts] {
    position: fixed;
    padding: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    color: #fff;
    max-width: 700px;
    border-left: 1px solid #323b46;
    background-color: #27303c;
    transition: .3s;
    transform: translateX(102%);
    z-index: 3;
}

.active .album-page[b-s0vg48o4ts] {
    transform: translateX(0);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.8), 0 0 0 99999px rgba(0,0,0,.6);
}

.album-header[b-s0vg48o4ts] {
    border-bottom: 1px solid #323b46;
}

.header-album[b-s0vg48o4ts] {
    text-align: center;
}

.track-list[b-s0vg48o4ts] {
    width: 100%;
    font-size: .9rem;
}
