.btnbtnsuccess {

    display: inline-block;
}

.aligncenter1 {
    text-align:center;
    color: white;
}
.aligncenter2 {
    text-align: center;
    color: white;
}
.aligncenter3 {
    text-align: center;
    color: white;
}
.aligncenter4 {
    text-align: center;
    color: white;
}
