@using MusicStore.Schemas
@using MusicStore.Data

@inject BasketService BasketService;

<li class="album-card -small">
			<img class="image" src="/th.jpg" alt="Minutes to Midnight" />
			<div class="album-info">
        <h3 class="name">@Item.Name</h3>
        <p class="meta">@Item.Artist.Name</p>
				<p>
            <button class="btnbtnprimary" type="button" @onclick="()=> Buy()">
                Buy
            </button>
				</p>
			</div>
		</li>

@code {
    [Parameter]
    public ProductSchema Item { get; set; }

    public void IncreaseQuantity()
    {
        BasketService.AddProduct(Item);
    }

    private void Buy()
    {
        BasketService.AddProduct(Item);
    }
}