/* _content/MusicStore/Pages/Login.razor.rz.scp.css */
/* Login Form */
.BodyLogin[b-zj5ggrvo40] {
  height: 100%;
  background: linear-gradient(90deg, rgba(83,11,11,1) 0%, rgba(148,26,26,1) 32%, rgba(148,26,26,1) 100%);
}

.BackSquare[b-zj5ggrvo40] {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form[b-zj5ggrvo40] {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0),
    0 5px 5px 0 rgba(255, 255, 255, 0);
}

.tableContainer-1[b-zj5ggrvo40] {
  width: 120%;
  display: table;
  margin-top: 20%;
  margin-left: -30%;
}

.LoginText[b-zj5ggrvo40] {
  color: rgb(50, 50, 50);
  font-size: 38px;
  font-weight: 500;
  height: 100px;
  width: 100px;
  margin-top: -65%;
  margin-left: 120%;
}

.tableContainer-2[b-zj5ggrvo40] {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}

.login-form[b-zj5ggrvo40] {
  position: relative;
  z-index: 1;
  color: rgb(50, 50, 50);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.email[b-zj5ggrvo40] {
  color: #000000;
  width: 125%;
  border: 10px;
  margin-left: -25px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 12.5px;
}

.password[b-zj5ggrvo40] {
  color: #000000;
  width: 125%;
  border: 10px;
  margin-left: -25px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 12.5px;
}

.forgotpassword[b-zj5ggrvo40] {
  color: rgb(50, 50, 50);
  text-align: center;
  font-size: 9px;
  background-color: transparent;
  border-color: transparent;
  margin-left: 35.5px;
  width: 105%;
  margin-top: -15px;
}

.forgotpassword1[b-zj5ggrvo40] {
  float: left;
  width: 70%;
  margin-left: 40px;
  font-size: 8px;
}

.forgotpassword2[b-zj5ggrvo40] {
  float: right;
  width: 70%;
  font-size: 8px;
  margin-top: -17.5px;
  width: 50%;
  font-size: 9px;
}

.checkbox-example[b-zj5ggrvo40] {
  color: rgb(50, 50, 50);
  text-align: center;
  font-size: 8px;
  width: 110%;
  margin-top: -10px;
}

.checkbox-examplebox[b-zj5ggrvo40] {
  margin-left: -280.5px;
}

.remember[b-zj5ggrvo40] {
  margin-top: -20px;
  width: 50%;
  font-size: 10px;
  margin-left: -50.5px;
}

.btnbtnprimary[b-zj5ggrvo40] {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  outline: 0;
  margin-left: -25px;
  background: #941a1a;
  width: 125%;
  border: 0;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: pointer;
}

.registered[b-zj5ggrvo40] {
  margin-top: 60px;
  color: black;
}

.Create[b-zj5ggrvo40] {
  color: #2196f3;
  font-size: smaller;
}
/* _content/MusicStore/Pages/Register.razor.rz.scp.css */
/* Login Form */
.BodyRegister[b-k31uor7rge] {
  height: 100%;
  background: linear-gradient(90deg, rgba(83,11,11,1) 0%, rgba(148,26,26,1) 32%, rgba(148,26,26,1) 100%);
}

.BackSquare[b-k31uor7rge] {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form[b-k31uor7rge] {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0),
    0 5px 5px 0 rgba(255, 255, 255, 0);
}

.tableContainer-1[b-k31uor7rge] {
  width: 120%;
  display: table;
  margin-top: 20%;
  margin-left: -30%;
}

.RegisterText[b-k31uor7rge] {
  color: rgb(50, 50, 50);
  font-size: 38px;
  font-weight: 500;
  height: 100px;
  width: 100px;
  margin-top: -65%;
  margin-left: 122%;
}

.tableContainer-2[b-k31uor7rge] {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}

.login-form[b-k31uor7rge] {
  position: relative;
  z-index: 1;
  color: rgb(50, 50, 50);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.firstName[b-k31uor7rge] {
  color: #000000;
  width: 125%;
  border: 10px;
  margin-left: -25px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 12.5px;
  margin-top: 0px;
  height: 1%;
}

.gender[b-k31uor7rge] {
  color: #000000;
  width: 50%;
  border: 10px;
  margin-left: -10px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 10px;
}

.Gender-Style[b-k31uor7rge] {
  margin-left: 17px;
}

.title[b-k31uor7rge] {
  color: #000000;
  width: 50%;
  border: 10px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
}

.email[b-k31uor7rge] {
  color: #000000;
  width: 125%;
  border: 10px;
  margin-left: -25px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 12.5px;
  margin-top: 20px;
}

.password[b-k31uor7rge] {
  color: #000000;
  width: 125%;
  border: 10px;
  margin-left: -25px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 12.5px;
}

.DOB-Style[b-k31uor7rge] {
  margin-left: 27.5px;
}

.dob1[b-k31uor7rge] {
  color: #000000;
  border: 2px;
  width: 31.5%;
  margin-left: -25px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 7.5px;
  margin-top: 10px;
  background: #f2f2f2;
}

.dob2[b-k31uor7rge] {
  color: #000000;
  border: 2px;
  width: auto;
  margin-left: -5px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 7.5px;
  margin-top: -20px;
}

.dob3[b-k31uor7rge] {
  color: #000000;
  width: 3%;
  border: 2px;
  width: auto;
  margin-left: -5px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  background: #f2f2f2;
  padding: 7.5px;
  margin-top: -100px;
}

.checkbox-example[b-k31uor7rge] {
  color: rgb(50, 50, 50);
  text-align: center;
  font-size: 10px;
  width: 110%;
  margin-top: -10px;
}

.checkbox-examplebox[b-k31uor7rge] {
  margin-left: -283.5px;
  margin-top: -1000px;
}

.remember[b-k31uor7rge] {
  margin-top: -20.58px;
  width: 50%;
  margin-left: -52.5px;
}

.btnbtnprimary[b-k31uor7rge] {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  outline: 0;
  margin-left: -25px;
  background: #941a1a;
  width: 125%;
  border: 0;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: pointer;
  margin-top: 5%;
}

.Text-Account[b-k31uor7rge] {
  color: black;
  font-size: 14px;
}

.Login[b-k31uor7rge] {
  font-size: 14px;
  margin-left: 10px;
}
/* _content/MusicStore/Shared/MainLayout.razor.rz.scp.css */
.page[b-9h71sga2q3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-9h71sga2q3] {
    flex: 1;
}

.sidebar[b-9h71sga2q3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-9h71sga2q3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-9h71sga2q3]  a, .top-row .btn-link[b-9h71sga2q3] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-9h71sga2q3] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-9h71sga2q3] {
        display: none;
    }

    .top-row.auth[b-9h71sga2q3] {
        justify-content: space-between;
    }

    .top-row a[b-9h71sga2q3], .top-row .btn-link[b-9h71sga2q3] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9h71sga2q3] {
        flex-direction: row;
    }

    .sidebar[b-9h71sga2q3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-9h71sga2q3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-9h71sga2q3], article[b-9h71sga2q3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MusicStore/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-qqt4bte5pa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-qqt4bte5pa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-qqt4bte5pa] {
    font-size: 1.1rem;
}

.oi[b-qqt4bte5pa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-qqt4bte5pa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-qqt4bte5pa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-qqt4bte5pa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-qqt4bte5pa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-qqt4bte5pa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-qqt4bte5pa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-qqt4bte5pa] {
        display: none;
    }

    .collapse[b-qqt4bte5pa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-qqt4bte5pa] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
